body{
    background-color: rgb(161, 185, 247);
    /*background-image: url("IMG/back3.jpg");*/
    text-align: center;
    display: flex;
    justify-content: center;
}

.container{
    background-color: aquamarine;
    height: 480px;
    width: 500px;
    /*padding: 300px;*/
    margin-top: 25px;
    border: solid 2px black;
}

.trans{
    background-color: rgba(254, 254, 254, 0.5);
    border: 2px solid white;
}

.top{
    height: 370px;
    width: 450px;
    margin: 20px 0 10px 25px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.bottom1{
    height: 55px;
    width: 450px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
}

.icon{
    width: 40px;
    height: 40px;
    margin: 7px 2px 0 2px;
}

.name{
    padding-left: 10px;
}



/*--------------------------------*/
        /* -  Display  - */
/*--------------------------------*/
.display-cl{
    margin-top: 10px;
    height: 55px;
    width: 300px;
    box-shadow: 5px 5px 5px #888888;
}



/*--------------------------------*/
       /* -  Button's  - */
/*--------------------------------*/

.btn-cont{
    /*border: 1px solid pink;*/
    /*width: 302px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-row{
    /*border: 1px solid black;*/
    margin-bottom: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.btn {
    height: 35px;
    width: 70px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #888888;
}
